.train {
  position: relative;
  width: 200px;
  margin: 10px;
  float: left;
}

.train-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 45px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.train-date {
  text-align: center;
  font-weight: 500;
  color: #e1e4e5;
  padding-bottom: 10px;
}

.train-route {
  opacity: .5;
}

.train-info-list {
  list-style-type: none;
  padding: 20px 10px;
  margin: 0;
  font-size: 14px;
  border-right: 1px solid #e1e4e5;
  border-left: 1px solid #e1e4e5;
  min-height: 160px;
}

.train-info-list li span {
  line-height: 2;
  font-weight: 500;
}

.train-found-true {
  background: #00c853;
}

.train-found-false {
  background: #e1e4e5;
}

.train-running-true {
  border-bottom: 3px solid #00c853;
}

.train-running-false {
  border-bottom: 3px solid #FF5252;
}

.train-no-composition {
  text-align: center;
  color: #e1e4e5;
  border-bottom: 3px solid #e1e4e5;
}
